.flash-cards {
    margin: 2.5rem;
    
    .card-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        list-style: none;
        column-gap: .8rem;
        row-gap: 1.2rem;
        justify-items: stretch;
        align-items: stretch;
    
        .card {
            text-align: center;
            background-color: #f7f7f7;
            border: 1px solid #e7e7e7;            
            padding: 2rem;
            border-radius: 7px;
            min-height: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;
        } 
        .selected {
                border: 1px solid #e03131;
                background-color: #e03131;
                color: #fff;
                font-weight: bold;
            }
    }
}