.date-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.4rem;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        margin-bottom: 3.2rem;
    }

    button {
        font-size: 2.4rem;
        color: white;
        background-color: #7950f2;
        padding: .2rem .8rem;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #3d2879;
    }

    span {
        padding: 0 2.4rem;
    }
}