.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);

    .modal--header {
        display: flex;
        justify-content: space-between;
        color: #4c6ef5;
        border-bottom: solid 1px rgba(76, 110, 245, 0.247);
        font-size: 2.4rem;

        button {
            background-color: transparent;
            border: none;
        }

        .modal--icon {
            height: 2.4rem;
            stroke: #4c6ef5;

        }

        .modal--icon:hover {
            background-color: #4c6ef5;
            stroke: white;
            border-radius: 3px;
        }
    }

    .modal--content {
        position: relative;
        background-color: white;
        box-shadow: rgba(100, 100, 111, .2) 0px 7px 29px 0px;
        border-radius: 3px;
        max-width: 75%;
        max-height: 80%;
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        overflow: hidden;
        font-size: 1.4rem;

        img {
            width: 60%;
            margin: 0 auto;
        }
    }

    .buttons {
        display: flex;
        justify-content: center;

        .btn--modal {
            padding: .8rem 1.2rem;
            color: #4c6ef5;
            border: 2px solid #4c6ef5;
            border-radius: 3px;
            font-size: 1.8rem;
            cursor: pointer;
        }

        .btn--modal:hover {
            background-color: #4c6ef5;
            color: white;
        }
    }
}