/*************************/
/*  HEADER */
/*************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-tint);

  /* beacuse we want header to be sticky later*/
  padding: 0 4.8rem;
  height: 9.6rem;
}

.logo {
  height: 2.2rem;
}

/*************************/
/*  NAVIGATION */
/*************************/

.main-nav--list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav--link:link,
.main-nav--link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.main-nav--link:hover,
.main-nav--link:active {
  color: var(--primary-shade);
}

.nav-cta:link,
.nav-cta:visited {
  color: white;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  background-color: var(--primary);
  transition: background-color 0.3s;
}

.nav-cta:hover,
.nav-cta:active {
  background-color: var(--primary-shade);
}

/*************************/
/*  HERO */
/*************************/
.section-hero {
  background-color: var(--primary-tint);
  padding: 4.8rem 0 9.6rem 0;
  transition: all 0.3s;
}

.hero {
  display: grid;
  max-width: 130rem;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 700;
}

.delivered-text span {
  color: var(--primary-shade);
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: solid 3px var(--primary-tint);
}

.delivered-imgs img:last-child {
  margin: 0;
}

/*************************/
/*  FEATURES IN SECTION */
/*************************/

.section-featured-in {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  filter: brightness(0);
  opacity: 50%;
  height: 2.8rem;
}

/*************************/
/*  HOW IT WORKS SECTION */
/*************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 3rem;
  font-weight: 600;
  color: var(--grey-ligth);
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;

  border-radius: 50%;

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.step-img-box::after {
  width: 50%;
  /* height: 60%; */

  padding-bottom: 50%;
  background-color: #fae5d3;
}

.step-img-box::before {
  width: 65%;
  /* height: 60%; */

  padding-bottom: 65%;
  background-color: var(--primary-tint);
}
.step-img {
  width: 40%;
}

/*************************/
/*  MEALS SECTION */
/*************************/

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.meal:hover {
  transform: translateY(-1.2rem);
}

.meal-content {
  padding: 3.2rem 4.8rem;
}

.meal-tittle {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-img {
  width: 100%;
}

.meal-icon {
  color: var(--primary);
  font-size: 2.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: var(--vegetarian-tag);
}
.tag--vegan {
  background-color: var(--vegan-tag);
}

.tag--paleo {
  background-color: var(--paleo-tag);
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.all-recipies {
  text-align: center;
  font-size: 1.8rem;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--primary);
  border-bottom: solid 1px currentColor;
  padding-bottom: 0.2rem;
  transition: all 0.3s ease;
}

.link:hover,
.link:active {
  color: var(--primary-shade);
  border: none;
  border-bottom: solid 1px transparent;
}

/*************************/
/*  TESTIMONIALS SECTION */
/*************************/

.section-testimonials {
  background-color: var(--primary-tint);

  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  line-height: 1.8;
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  /* it prevents the child img from overflowing it parents container */
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/*************************/
/*  PRICING SECTION */
/*************************/

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
}

.pricing-plan--starter {
  justify-self: end;

  box-shadow: inset 0 0 0 3px var(--primary-tint);
}

.pricing-plan--complete {
  background-color: var(--primary-tint);
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best Value";
  position: absolute;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.8rem 3.2rem;
  color: #333;

  top: 5%;
  right: -7%;
  background-color: var(--vegan-tag);

  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: var(--primary-shade);
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #888;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #888;
}

.feature-icon {
  color: var(--primary);
  height: 3.2rem;
  width: 3.2rem;
  background-color: var(--primary-tint);
  border-radius: 50%;
  padding: 1.6rem;
  margin-bottom: 3.2rem;
}

.feature-tittle {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/*************************/
/*  CTA SECTION */
/*************************/

.section-cta {
  padding: 9.6rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);

  overflow: hidden;
}

.cta-text-box {
  padding: 3.2rem;
  color: #45260a;
}

.cta-text {
  line-height: 1.8;
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
}

.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("./../img/eating.jpg");

  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  border: none;
  border-radius: 9px;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;

  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/*************************/
/*  FOOTER SECTION */
/*************************/

.footer {
  padding: 12.8rem 0;
  border-top: solid 1px #eee;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: color 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;

  /* trick to posistion a flex child to the end of the flex container*/
  margin-top: auto;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
