/*************************/
/*  HEADER */
/*************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-tint);

  /* beacuse we want header to be sticky later*/
  padding: 0 4.8rem;
  height: 9.6rem;
}

.logo {
  height: 2.2rem;
}

/*************************/
/*  NAVIGATION */
/*************************/

.main-nav--list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav--link:link,
.main-nav--link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.main-nav--link:hover,
.main-nav--link:active {
  color: var(--primary-shade);
}

.nav-cta:link,
.nav-cta:visited {
  color: white;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  background-color: var(--primary);
  transition: background-color 0.3s;
}

.nav-cta:hover,
.nav-cta:active {
  background-color: var(--primary-shade);
}

/*************************/
/*  HERO */
/*************************/
.section-hero {
  background-color: var(--primary-tint);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  max-width: 130rem;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 700;
}

.delivered-text span {
  color: var(--primary-shade);
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: solid 3px var(--primary-tint);
}

.delivered-imgs img:last-child {
  margin: 0;
}

/*************************/
/*  FEATURES IN SECTION */
/*************************/

.section-featured-in {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  filter: brightness(0);
  opacity: 50%;
  height: 2.8rem;
}

/*************************/
/*  HOW IT WORKS SECTION */
/*************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 3rem;
  font-weight: 600;
  color: var(--grey-ligth);
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;

  border-radius: 50%;

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.step-img-box::after {
  width: 50%;
  /* height: 60%; */

  padding-bottom: 50%;
  background-color: #fae5d3;
}

.step-img-box::before {
  width: 65%;
  /* height: 60%; */

  padding-bottom: 65%;
  background-color: var(--primary-tint);
}
.step-img {
  width: 40%;
}

/*************************/
/*  MEALS SECTION */
/*************************/

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
}

.meal-tittle {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
}

.meal-img {
  width: 100%;
  border-radius: 11px 11px 0 0;
}
