

.content {
  padding: 2.4rem;
  min-width: 94%;

  .content-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    gap: 3.2rem;
  }
}

.nav-open.content {
  min-width: 85%;
  margin-left: 25.5rem;
}


@media (max-width: 59.5em) {
  .nav-open.content {
    min-width: 65%;
  }
  .content {
    min-width: 70%;
    .content-list {
      grid-template-columns: repeat(2, auto);
    }
  }
}

@media (max-width: 59.5em) {
  .nav-open.content {
    min-width: 50%;

    .content-list {
      grid-template-columns: auto;
    }
  }
}

@media (max-width: 26.5em) {
  .content {
    .content-list {
      grid-template-columns: auto;
    }
  }
}
