* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", "Inter", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  font-size: 6.5rem;
  max-width: 120rem;
  height: 120rem;
  margin: .8rem;
  margin-left: 10rem;
}


.container {
  display: flex;
}


/*:::::::::::::::::::::::::::::::
  SIDE BAR
  :::::::::::::::::::::::::::::::
*/

.side-bar {
  background-color: #495057;
  height: 100vh;
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 1.2rem;
}


.nav-open .side-bar {
  max-width: 24rem;
}



.btn {
  border: none;
  background-color: transparent;
}
.menu {
  background-color: transparent;
  border: none;
  display: none;
  pointer-events: none;
  visibility: hidden;
}

.btn--close {
  padding: 1.2rem;
  position: absolute;
  right: 0;
  transform: translate(50%, 0);
}

.side-bar .nav-icon.close-icon {
  stroke: white;
  background-color: #4c6ef5;
  border-radius: 50%;
  padding: .3rem;
}

.nav-open .nav-icon.close-icon {
  transform: rotate(180deg);
}

.side-bar .nav-icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: white;
  transition: all .3s;
  stroke: 1.5px;
}

.avatar{
  align-self: center;
  padding: 1.8rem;
  margin-bottom: 8.2rem;
}

.avatar.tab-box:hover {
  background-color: transparent;
}



.nav-open .avatar {
  align-self: baseline;
}

.nav-footer {
  align-self: stretch;
  gap: 1.2rem;
  display: flex;
  margin-top: auto;
}

.nav-open .nav-footer {
  align-self: stretch;
}

.tab-box {
  display: flex;
  gap: 1.2rem;
  padding: 1.8rem;
  align-items: center;
  margin-bottom: 2.4rem;
  border-radius: 11px;
}

.tab-box:hover {
  background-color: #343a40;
}

.tab-box:nth-child(3) {
  background-color: #343a40;
  
}

a:link, a:visited{
  font-size: 1.8rem;
  color:white;
  text-decoration: none;
}

 
.tab-tittle{
  display: none;
}

.nav-open .tab-tittle {
  display: block;
}

.search-bar {
  display: none;
}

.nav-open .search-bar {
  display: block;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.8rem;
}

.nav-open .search-bar input:focus {
 outline: none;
}


/*:::::::::::::::::::::::::::::::
  Mobile Navigation
  :::::::::::::::::::::::::::::::
*/

.hidden {
  visibility: hidden;
  pointer-events: none;
  display: none;
  transform: translateY(100%);
}

.nav--mobile {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  width: 100vw;
  position: fixed;
  bottom: 0;
  border-radius: 2px;
  transition: all .3s;
}

.nav--mobile ul{
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  list-style: none;
}

.nav--mobile h2 {
  font-family: "Rubik", "Inter", sans-serif;
  color: white;
}

.nav--mobile-footer {
  border: none;
  margin-top: auto;
  background-color: #4c6ef5;
  justify-self: center;
  border-radius: 5px;
  text-align: center;
  max-width: 50%;
  padding: 1rem 2rem;
}



/*:::::::::::::::::::::::::::::::
  QUERYS
  :::::::::::::::::::::::::::::::
*/


@media (max-width: 59.5em) {
   .content {
    font-size: 2.4rem;
   }
}

@media (max-width: 38.875em) {
   html {
    font-size: 50%;
   }
}

@media (max-width: 26.56em) {

  .container {
    display: flex;
    flex-direction: column;
  }

  .content {
    margin: 8rem 3rem 0 3rem;
  }

  .side-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    position: fixed;
    max-height: 8rem;
    max-width: 100vw;
    width: 100vw;
  }

  .tab-box {
    margin-bottom: 0;
  }

  .tab-box:nth-child(5),  .tab-box:nth-child(6), .tab-box:nth-child(7){
    display: none;
    pointer-events: none;
    visibility: hidden;
  }

  .btn--close {
    display: none;
    pointer-events: none;
    visibility: hidden;
  }

  .tab-box:nth-child(3) .icon.nav-icon{
    display: none;
  }

  .tab-box:nth-child(3) input { 
    display: block;
    border: none;
    background-color: transparent;
    color: white;
  }

  input::placeholder {
    color: white;
  }

  .menu {
    display: block;
    pointer-events: all;
    visibility: visible;
    grid-column: 3;

  }

  .menu:active {
    background-color: #343a40;
    padding: .8rem;
    border-radius: 8px;
  }

  .avatar {
    margin-bottom: 0;
    grid-column: 1;
  }


  .nav-footer {
    display: none;
  }
}