* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", "Inter", sans-serif;
}


body::-webkit-scrollbar {
  background-color: transparent;
  width: .9rem;
  padding: 5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #343a40c0;
  border-radius: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.content {
  font-size: 6.5rem;
  max-width: 120rem;
  height: 120rem;

  margin-left: 10rem;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
  display: none;
  transform: translateY(100%);
}



.nav-open {
  .content {
    margin-left: 24rem;
  }
}


/*:::::::::::::::::::::::::::::::
  QUERYS
  :::::::::::::::::::::::::::::::
*/


@media (max-width: 59.5em) {
  .content {
    font-size: 2.4rem;
  }
}

@media (max-width: 38.875em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 26.56em) {

  .container {
    display: flex;
    flex-direction: column;
  }

  .content {
    margin: 8rem 3rem 0 3rem;
  }

  .side-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    position: fixed;
    max-height: 8rem;
    max-width: 100vw;
    width: 100vw;
  }

  .tab-box {
    margin-bottom: 0;
  }

  .tab-box:nth-child(5),
  .tab-box:nth-child(6),
  .tab-box:nth-child(7) {
    display: none;
    pointer-events: none;
    visibility: hidden;
  }

  .btn--close {
    display: none;
    pointer-events: none;
    visibility: hidden;
  }

  .tab-box:nth-child(3) .icon.nav-icon {
    display: none;
  }

  .tab-box:nth-child(3) input {
    display: block;
    border: none;
    background-color: transparent;
    color: white;
  }

  input::placeholder {
    color: white;
  }

  .menu {
    display: block;
    pointer-events: all;
    visibility: visible;
    grid-column: 3;

  }

  .menu:active {
    background-color: #343a40;
    padding: .8rem;
    border-radius: 8px;
  }

  .avatar {
    margin-bottom: 0;
    grid-column: 1;
  }


  .nav-footer {
    display: none;
  }
}