$okColor: #ffd43b;
$okColorShade: #fab005;

$badColor: #e03131;
$badColorShade: #c92a2a;

$greatColor: #2f9e44;
$greatColorShade: #2b8a3e;

.rating-circle {
  position: absolute;
  background-color: white;
  border: solid black;
  border-radius: 50%;
  padding: 1rem 2rem;
  font-size: 3.2rem;
  color: #444;
  left: 0;
  top: 0;
  transform: translate(-30%, -30%);
}

.rating-circle.ok {
  border: solid rgba($color: $okColorShade, $alpha: 0.7);
  color: white;
  background-color: $okColor;
}

.rating-circle.bad {
  border: solid rgba($color: $badColorShade, $alpha: 0.7);
  color: white;
  background-color: $badColor;
}

.rating-circle.great {
  border: solid rgba($color: $greatColorShade, $alpha: 0.7);
  color: white;
  background-color: $greatColor;
}

@media (max-width: 26.56em) {
  .rating-circle {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
